@model SRS.Models.ViewModel.AspCourseVM
@{
    ViewBag.Title = "CourseForm";
    Layout = "~/Areas/Admin/Views/Shared/_SRSLayout.cshtml";
}

<h2>CourseForm</h2>

<div class="container">
    @using (Html.BeginForm("Save", "Course"))
    {
        <div class="row">
            @Html.ValidationSummary(true, "Fix the Following Errors")
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(c => c.AspCourse.CourseName, new { @class = "h6" })
                    @Html.TextBoxFor(c => c.AspCourse.CourseName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.AspCourse.CourseName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(c => c.AspCourse.CourseTitle, new { @class = "h6" })
                    @Html.TextBoxFor(c => c.AspCourse.CourseTitle, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.AspCourse.CourseTitle)
                </div>
                <div class="form-group">
                    @Html.LabelFor(c => c.AspCourse.CreadedHours, new { @class = "h6" })
                    @Html.TextBoxFor(c => c.AspCourse.CreadedHours, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(c => c.AspCourse.CreadedHours)
                </div>


                <div class="form-group">
                    <label for="">Department</label>
                    @Html.DropDownListFor(c => c.AspCourse.AspDepartmentId, new SelectList(Model.AspDepartment, "DepId", "Name"), "Select Department", new { @class = "form-control", id = "rolesDd" })
                    @Html.ValidationMessageFor(c => c.AspCourse.AspDepartmentId)
                </div>

                <div class="form-group">
                    <label for="">Department</label>
                    @Html.DropDownListFor(c => c.AspCourse.CourseTimeId, new SelectList(Model.AspCourseTime, "Id", "Time"), "Select Department", new { @class = "form-control", id = "rolesDd" })
                    @Html.ValidationMessageFor(c => c.AspCourse.CourseTimeId)
                </div>


                @Html.HiddenFor(c => c.AspCourse.CourseId)
                @Html.AntiForgeryToken()
                <button type="submit" id="saveUser" class="btn btn-primary">Save</button>
            </div>
        </div>
    }
</div>

